:root {
    --main-nav-color: #E30613;
    --main-border-color: #A6A6A6;
    --main-body-color: white;
}

html {
    width: 100%;
    margin-right: 0;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 1em;
    width: 100%;
    z-index: 100;
}

ul {
    padding: 0;
    margin: 0;
}


/* eerste nav*/

header nav:nth-of-type(1) {
    background-color: var(--main-nav-color);
    margin: auto;
    margin-bottom: 0.1em;
    margin-top: 1em;
    height: 46px;
    width: 92%;
    max-width: 478px;
}

header nav:nth-of-type(1) ul:nth-of-type(1) {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav:nth-of-type(1) li:nth-of-type(2) img {
    margin: auto;
    max-width: 83px;
    margin-top: 0.5em;
    max-width: 83px;
}

header nav:nth-of-type(1) li:nth-of-type(3) a img {
    margin: auto;
    width: 18px;
    margin-top: 1em;
    margin-right: 1em;
}


/*  de hamburger menu */

button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    font: inherit;
    width: 2em;
    height: 2em;
    background-color: var(--main-nav-color);
    padding-left: 2em;
    padding-right: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    overflow: hidden;
}

nav:nth-of-type(1) ul:nth-of-type(2):focus-within {
    opacity: 1;
    position: fixed;
    z-index: 100;
}

button::before,
button::after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background-color: white;
    top: 50%;
    left: 50%;
    transition: .3s;
}

button::before {
    transform: translate(-50%, calc(-50% - 3px));
}

button::after {
    transform: translate(-50%, calc(-50% + 3px));
}

body.menuOpen button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

body.menuOpen button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

nav:nth-of-type(1) ul:nth-of-type(2) {
    opacity: 0;
    position: fixed;
    transition: all .3s ease-in;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--main-nav-color);
    width: 92%;
    max-width: 478px;
    height: 565px;
    z-index: -1;
}

nav:nth-of-type(1) ul:nth-of-type(2).visible {
    opacity: 1;
    position: fixed;
    z-index: 2;
}

nav:nth-of-type(1) ul:nth-of-type(2) li {
    margin-top: 0.5em;
}

nav:nth-of-type(1) ul:nth-of-type(2) li:nth-of-type(4) {
    margin-bottom: 3em;
}

nav:nth-of-type(1) ul:nth-of-type(2) li:nth-of-type(6) {
    margin-bottom: 3em;
}

nav:nth-of-type(1) ul:nth-of-type(2) a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 1em;
    font-size: 30px;
}

nav:nth-of-type(1) ul:nth-of-type(2) li:nth-of-type(1) p {
    font-size: 0.9em;
    font-weight: lighter;
    border: solid 1px white;
    color: white;
    border-radius: 2em;
    padding: 0.5em;
    width: 202px;
    text-align: center;
}

nav:nth-of-type(1) ul:nth-of-type(2) li:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

nav:nth-of-type(1) ul:nth-of-type(2) a img {
    margin: 0;
    margin-left: 0.5em;
    width: 0.6em;
}


/* tweede nav */

nav:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    z-index: 2;
}

nav:nth-of-type(2) ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

nav:nth-of-type(2) li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: groove 0.05em var(--main-border-color);
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2.2vh;
}

nav:nth-of-type(2) li a img {
    margin: auto;
    width: 20%;
    margin-left: 0.5em;
    max-width: 1em;
}

nav:nth-of-type(2) ul li a:hover {
    border: groove 0.05em white;
}


/* "nu te zien" */

.sideh1 {
    max-width: 10%;
    display: flex;
    position: fixed;
    justify-content: left;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: 2%;
    font-size: 1.5em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

main {
    margin-top: 2em;
}


/* eerste content*/

section:nth-of-type(1) div:nth-of-type(1) a {
    background-color: black;
    color: black;
    box-sizing: border-box;
    margin: auto;
    margin-left: 12%;
    margin-right: 0;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

section:nth-of-type(1) div:nth-of-type(1) a h1 {
    color: white;
    flex: 1;
    order: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size: 10vw;
    margin: 0;
    margin-top: 0.2em;
    letter-spacing: -1px;
}

section:nth-of-type(1) div:nth-of-type(1) a h2 {
    color: white;
    order: 4;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 50;
    font-size: 10vw;
    letter-spacing: -1px;
    margin: 0;
}

section:nth-of-type(1) div:nth-of-type(1) a img {
    width: 100%;
    max-width: 1200px;
    order: 1;
}

section:nth-of-type(1) div:nth-of-type(1) a h3 {
    order: 5;
    color: white;
    border: solid 1px white;
    text-align: center;
    font-size: 0.9em;
    font-weight: 50;
    width: 90%;
    max-width: 315px;
    padding: 0.7em;
    margin-top: 2em;
}

section:nth-of-type(1) div:nth-of-type(1) a p {
    order: 2;
}

section:nth-of-type(1) div:nth-of-type(1) p:nth-of-type(1) {
    margin: 0;
    margin-top: 1.5em;
    padding: 0.3em;
    width: 168px;
    background-color: white;
    color: black;
    border-radius: 2em;
    text-align: center;
    font-size: 0.87em;
}

section:nth-of-type(1) div:nth-of-type(1) p:nth-of-type(2) {
    margin: 0;
    color: white;
    margin-top: 1em;
    padding: 0.3em;
    width: 96px;
    border: none;
    font-size: 0.87em;
}


/* tweede content en derde content */

div:nth-of-type(2) article:nth-of-type(1),
div:nth-of-type(2) article:nth-of-type(2),
div:nth-of-type(3) article:nth-of-type(1),
div:nth-of-type(3) article:nth-of-type(2) {
    width: 100%;
    background-color: var(--main-body-color);
    box-sizing: border-box;
    margin: auto;
    margin: 0;
}

div:nth-of-type(2) article:nth-of-type(1) a,
div:nth-of-type(2) article:nth-of-type(2) a,
div:nth-of-type(3) article:nth-of-type(1) a,
div:nth-of-type(3) article:nth-of-type(2) a {
    color: black;
    text-decoration: none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

div:nth-of-type(2) article:nth-of-type(1) a h1,
div:nth-of-type(2) article:nth-of-type(2) a h1,
div:nth-of-type(3) article:nth-of-type(1) a h1,
div:nth-of-type(3) article:nth-of-type(2) a h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: unset;
    flex: 1;
    order: 3;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 12%;
}

div:nth-of-type(2) article:nth-of-type(1) a h2,
div:nth-of-type(2) article:nth-of-type(2) a h2,
div:nth-of-type(3) article:nth-of-type(1) a h2,
div:nth-of-type(3) article:nth-of-type(2) a h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: unset;
    order: 4;
    margin: 0;
    margin-left: 12%;
    margin-bottom: 0.4em;
}

div:nth-of-type(2) article:nth-of-type(1) a p:first-of-type,
div:nth-of-type(2) article:nth-of-type(2) a p:first-of-type,
div:nth-of-type(3) article:nth-of-type(1) a p:first-of-type,
div:nth-of-type(3) article:nth-of-type(2) a p:first-of-type {
    background-color: var(--main-body-color);
    border: solid 1px;
    border-radius: 2em;
    order: 2;
    width: 181px;
    margin: 0;
    margin-left: 12%;
    margin-top: 1.2em;
    padding: 0.2em;
    text-align: center;
    padding: 0.2em;
    font-size: 0.9em;
}

div:nth-of-type(2) article:nth-of-type(1) a img:nth-of-type(1),
div:nth-of-type(2) article:nth-of-type(2) a img:nth-of-type(1),
div:nth-of-type(3) article:nth-of-type(1) a img:nth-of-type(1),
div:nth-of-type(3) article:nth-of-type(2) a img:nth-of-type(1) {
    order: 1;
    margin-left: 12%;
    margin-right: 1.5em;
    margin-top: 3em;
    width: 80%;
    transition: transform .2s;
}

div:nth-of-type(2) article:nth-of-type(1) a p:nth-of-type(2),
div:nth-of-type(2) article:nth-of-type(2) a p:nth-of-type(2),
div:nth-of-type(3) article:nth-of-type(1) a p:nth-of-type(2),
div:nth-of-type(3) article:nth-of-type(2) a p:nth-of-type(2) {
    font-size: 0.8em;
    order: 4;
    padding: 0;
    margin: 0;
    margin-left: 12%;
    margin-bottom: 4em;
}


/* vierde section eerste content*/

div:nth-of-type(4) {
    background-color: var(--main-body-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

div:nth-of-type(4) article:nth-of-type(1) h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    color: black;
    margin: 0;
    margin-left: 12%;
    margin-top: 1em;
    font-size: 11vw;
    font-weight: unset;
}

div:nth-of-type(4) article:nth-of-type(1) p {
    margin: 0;
    margin-left: 12%;
    font-size: 11vw;
    font-style: italic;
    letter-spacing: -0.04em;
}

div:nth-of-type(4) article:nth-of-type(1) a {
    color: black;
    margin: 0;
    margin-top: 2em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

div:nth-of-type(4) article:nth-of-type(1) a p {
    margin-left: 12%;
    font-size: 1em;
    margin-bottom: 2em;
}

div:nth-of-type(4) article:nth-of-type(1) img {
    margin-left: 1em;
    width: 11%;
    max-width: 60px;
    margin-bottom: 2em;
}


/* vierde section tweede content */

div:nth-of-type(4) article:nth-of-type(2) {
    width: 100%;
    background-color: var(--main-body-color);
    box-sizing: border-box;
    margin: auto;
    margin: 0;
}

div:nth-of-type(4) article:nth-of-type(2) a {
    color: black;
    text-decoration: none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

div:nth-of-type(4) article:nth-of-type(2) a h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: unset;
    flex: 1;
    order: 3;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 12%;
}

div:nth-of-type(4) article:nth-of-type(2) a h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: unset;
    order: 4;
    margin: 0;
    margin-left: 12%;
    margin-bottom: 0.4em;
}

div:nth-of-type(4) article:nth-of-type(2) a p:first-of-type {
    background-color: black;
    color: white;
    border: solid 1px;
    border-radius: 2em;
    width: 60px;
    order: 2;
    margin: 0;
    margin-left: 12%;
    margin-top: 1.2em;
    padding: 0.2em;
    text-align: center;
    padding: 0.2em;
    font-size: 0.9em;
    font-weight: unset;
}

div:nth-of-type(4) article:nth-of-type(2) img {
    order: 1;
    margin-left: 12%;
    margin-right: 1.5em;
    margin-top: 3em;
    width: 80%;
    transition: transform .2s;
}

div:nth-of-type(4) article:nth-of-type(2) a p:nth-of-type(2) {
    font-size: 0.8em;
    order: 4;
    padding: 0;
    margin: 0;
    margin-left: 12%;
    margin-bottom: 4em;
}


/* vierde section derde content */

div:nth-of-type(4) article:nth-of-type(3) a {
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    margin-left: 12%;
}

div:nth-of-type(4) article:nth-of-type(3) a p {
    font-size: 1em;
    margin-bottom: 3em;
}

div:nth-of-type(4) article:nth-of-type(3) img {
    flex-shrink: 0;
    margin-left: 1%;
    width: 11%;
    max-width: 60px;
    margin-bottom: 3em;
}


/* vijfde section eerste content */

div:nth-of-type(5) {
    background-color: #96C31E;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

div:nth-of-type(5) article:nth-of-type(1) a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div:nth-of-type(5) article:nth-of-type(1) a h1 {
    flex: 1;
    order: 3;
    margin: 0;
    margin-left: 12%;
    margin-top: 0.02em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size: 10vw;
    letter-spacing: -1px;
}

div:nth-of-type(5) article:nth-of-type(1) a h2 {
    order: 4;
    margin: 0;
    margin-left: 12%;
    font-style: italic;
    font-weight: 50;
    font-size: 10vw;
    letter-spacing: -1px;
}

div:nth-of-type(5) article:nth-of-type(1) a img {
    width: 80%;
    margin-left: 12%;
    order: 1;
}

div:nth-of-type(5) article:nth-of-type(1) a p:nth-of-type(1) {
    background-color: black;
    color: white;
    border-radius: 2em;
    width: 60px;
    order: 2;
    margin-top: 1.5em;
    margin-left: 12%;
    margin-bottom: 1em;
    padding: 0.2em;
    text-align: center;
    padding: 0.2em;
    font-size: 0.9em;
    font-weight: unset;
}

div:nth-of-type(5) article:nth-of-type(1) a p:nth-of-type(2) {
    order: 5;
    color: black;
    border: solid 1px black;
    text-align: center;
    font-size: 0.9em;
    font-weight: 50;
    max-width: 315px;
    padding: 0.7em;
    margin: 0;
    margin-top: 2em;
    margin-left: 12%;
    margin-bottom: 3em;
    margin-right: 2em;
}


/* 6e section eerste content */

section:nth-of-type(2) {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2) article {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2) article:nth-of-type(1) {
    background-color: black;
    padding-bottom: 4em;
    padding-top: 1em;
}

section:nth-of-type(2) article:nth-of-type(1) h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    color: white;
    margin: 0;
    margin-left: 12%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 11vw;
    font-weight: unset;
}

section:nth-of-type(2) article:nth-of-type(1) h1 span {
    display: block;
    color: white;
    margin: 0;
    font-size: 11vw;
    font-style: italic;
    letter-spacing: -0.01em;
}

section:nth-of-type(2) article:nth-of-type(1) img {
    width: 80%;
    margin-left: 12%;
    margin-bottom: 2.5em;
}

section:nth-of-type(2) article:nth-of-type(1) p:nth-of-type(1) {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    font-size: 0.9em;
    margin-bottom: 1.5em;
    margin-left: 12%;
    margin-right: 2em;
}

section:nth-of-type(2) article:nth-of-type(1) a {
    color: white;
    text-decoration: none;
    font-weight: unset;
    font-size: 0.8em;
    border: solid 1px white;
    text-align: center;
    max-width: 315px;
    padding: 0.7em;
    margin-bottom: 1em;
    margin-left: 12%;
    margin-right: 2em;
}

section:nth-of-type(2) div:nth-of-type(1) article:nth-of-type(1) a:nth-of-type(3) {
    margin-bottom: 4em;
}


/* 7e section (laatste content) */

section:nth-of-type(3) article {
    position: relative;
    background-color: #FCCB00;
    min-height: 24em;
    padding: 1em;
    padding-bottom: 10em;
    display: grid;
    grid-template-rows: 1fr;
    gap: .5em;
    padding-top: 5em;
}

section:nth-of-type(3) article h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.04em;
    font-weight: unset;
    font-size: 10vw;
}

section:nth-of-type(3) article h1 span {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: min-content;
    text-align: right;
}

section:nth-of-type(3) article a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    margin-bottom: 0.5em;
}

section:nth-of-type(3) article a:nth-of-type(3) {
    border: solid 1px black;
    padding: 1em;
    margin-bottom: 3em;
    margin-top: 1em;
    width: 151px;
    font-size: 0.9em;
    text-align: center;
}

section:nth-of-type(3) article p {
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 2em;
    font-weight: unset;
    font-size: 1.1em;
}


/* tweede pagina */

section>img {
    display: flex;
    margin: auto;
    width: 96%;
    margin-left: 4%;
}

section>h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: -0.02em;
    font-weight: unset;
    font-size: 10vw;
    margin-bottom: 0;
    margin-left: 4%;
}

section>h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: unset;
    font-style: italic;
    letter-spacing: -0.02em;
    font-size: 10vw;
    margin-top: 0;
    margin-left: 4%;
}

section>p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: unset;
    font-size: 2.5vh;
    letter-spacing: -0.01em;
    line-height: 120%;
    margin-bottom: 1em;
    margin-left: 4%;
    margin-right: 4%;
}

section:nth-of-type(1)>a {
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    align-items: center;
    border: groove 0.05em white;
    color: white;
    background-color: black;
    padding: 0.5em;
    font-size: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 4%;
    margin-bottom: 2em;
    margin-top: 1em;
    font-weight: unset;
}

section>a>img {
    width: 1em;
    margin-left: 1em;
}

section:nth-of-type(2)>a {
    text-decoration: none;
    margin-top: 3em;
    color: white;
    margin-left: 4%;
    font-weight: unset;
    font-size: 3vh;
    margin-bottom: 4em;
}

section:nth-of-type(2)>a>img {
    width: 2em;
}

section:nth-of-type(3)>p {
    margin-top: 2em;
    margin-bottom: 2em;
}


/* footer */

footer {
    background-color: white;
    padding-bottom: 1em;
    padding-top: 2em;
}

footer nav {
    background-color: white;
    margin-left: 4%;
}

footer>nav>ul {
    display: flex;
    flex-direction: row;
    padding-top: 3em;
}

footer>nav>ul>li {
    list-style: none;
}

footer>nav>ul>li>a {
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    border: solid 0.01em var(--main-border-color);
    text-decoration: none;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.2vh;
}

footer>p {
    font-size: 0.8em;
    color: grey;
    margin-top: 4em;
    margin-left: 4%;
}


/* de desktop code */


/* eerste content groot scherm*/

@media (min-width:55em) {
    section:nth-of-type(1) div:nth-of-type(1) a h1 {
        font-size: 3.5em;
    }
    section:nth-of-type(1) div:nth-of-type(1) a h2 {
        font-size: 3.5em;
    }
    section:nth-of-type(1) h2>span::before {
        content: "";
        white-space: pre;
    }
    section:nth-of-type(1) div:nth-of-type(1) a img {
        width: 50%
    }
}


/* tweede & derde content groot scherm*/

@media (min-width:55em) {
    div:nth-of-type(2),
    div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
    }
    div:nth-of-type(2) article:nth-of-type(1) img,
    div:nth-of-type(3) article:nth-of-type(1) img {
        width: 85%;
    }
    article>a>img:hover {
        transform: scale(1.01);
    }
    div:nth-of-type(2) article:nth-of-type(1) a,
    div:nth-of-type(3) article:nth-of-type(1) a {
        margin-top: 10em;
    }
    div:nth-of-type(2) article:nth-of-type(2) img,
    div:nth-of-type(3) article:nth-of-type(2) img {
        width: 70%;
    }
    div:nth-of-type(2) article:nth-of-type(2) a,
    div:nth-of-type(3) article:nth-of-type(2) a {
        margin-top: 20em;
    }
    div:nth-of-type(2) article:nth-of-type(1) a p:nth-of-type(2),
    div:nth-of-type(3) article:nth-of-type(1) a p:nth-of-type(2) {
        font-size: 0.9em;
    }
    /* vierde section */
    div:nth-of-type(4) article:nth-of-type(1) p {
        font-size: 4em;
    }
    div:nth-of-type(4) article:nth-of-type(1) h1 {
        font-size: 4em;
    }
    div:nth-of-type(4) {
        display: flex;
        flex-direction: row;
    }
    div:nth-of-type(4) article:nth-of-type(2) img {
        width: 70%;
        max-width: 70em;
    }
    div:nth-of-type(4) article:nth-of-type(1) {
        margin: 0;
        flex: 1;
        order: 2;
    }
    div:nth-of-type(4) article:nth-of-type(2) {
        flex: 1;
        order: 1;
        margin-left: 1.5em
    }
}


/* vierde section */

@media (min-width:55em) {
    div:nth-of-type(4) article:nth-of-type(3) {
        display: none;
    }
}


/* vijfde secction */

@media (min-width:55em) {
    div:nth-of-type(5) article:nth-of-type(1) {
        display: flex;
        flex-direction: row;
    }
    div:nth-of-type(5) article:nth-of-type(1) a img {
        max-width: 45em;
    }
    div:nth-of-type(5) article:nth-of-type(1) a h1 {
        font-size: 2em;
    }
    div:nth-of-type(5) article:nth-of-type(1) a h2 {
        font-size: 2em;
    }
}


/* 6e section */

@media (min-width:55em) {
    section:nth-of-type(2) article:nth-of-type(1) h1 {
        font-size: 4em;
        margin-left: 6%;
    }
    section:nth-of-type(2) article:nth-of-type(1) h1 span {
        font-size: 1em;
        display: block;
        margin-right: 52%;
        margin-left: 0;
    }
    section:nth-of-type(2) article:nth-of-type(1) img {
        width: 42em;
        padding-top: 5em;
        position: absolute;
        right: 0;
    }
    section:nth-of-type(2) article:nth-of-type(1) a {
        margin-left: 6%;
    }
    section:nth-of-type(2) article:nth-of-type(1) {
        padding-bottom: 15em;
        padding-top: 6em;
    }
}


/* 6e section groot scherm */

@media (min-width:55em) {
    section:nth-of-type(3) article:nth-of-type(1) h1 {
        font-size: 4em;
        margin-left: 6%;
    }
    section:nth-of-type(3) article:nth-of-type(1) p {
        margin-left: 6%;
    }
    section:nth-of-type(3) article:nth-of-type(1) a {
        margin-left: 6%;
    }
}


/* tweede pagina groot scherm */

@media (min-width:55em) {
    .lizjohnson {
        width: 42em;
    }
    section h1 {
        font-size: 4em;
    }
    section h2 {
        display: block;
        font-size: 4em;
    }
    section:nth-of-type(1) a {
        font-size: 1em;
    }
}